vendor
wp-content
composer.lock

pattern_export/*
public/*

node_modules
.DS_Store

source/css/*
source/js/dist/*
source/js/components/*
source/js/vendor/*
!source/css/.gitkeep

dependencyGraph.json

vendor
!composer.lock
