{% extends 'base/component.twig' %}

{% set name = 'info' %}
{% set container_element = 'section' %}
{% set container_aria_label = NULL %}

{% block content %}

    <div class='inner-wrapper'>
      {% include 'fields/section-title.twig' with {
        title: title
      } only %}

      {% include 'fields/description.twig' with {
        description: description
      } only %}

      {% include 'fields/link.twig' with {
        href: link.href,
        cta: link.cta
      } only %}
    </div>

{% endblock %}